@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
	font-size: 14px;
}

.i2b {
	color: #eee;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
}
.i2b .headline {
	vertical-align: middle;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	max-width: 800px;
	line-height: 1.7;
}
.i2b h1 {
	font-size: 4em;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	margin: 170px 0 20px;
}
.i2b p {
	font-size: 1.5em;
}
.i2b h5 {
	margin-top: 10px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1em;
}
.i2b h5 span {
	display: inline-block;
	padding: 5px 20px;
	border: solid 3px #fff;
}